# version: '3.8'


services:
  backend-gateway-service:
    image: backend-gateway-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      # - DATABASE_HOST=postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - learn2grow-network
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000/health', (r) => {process.exit(r.statusCode === 200 ? 0 : 1)})"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 40s


  postgres:
    image: postgres:18
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=learn2grow
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - learn2grow-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - 5050:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - learn2grow-network
    depends_on:
      - postgres


networks:
  learn2grow-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data: